USE [RetailSystem]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[LotCode] [nvarchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[WardName] [nvarchar](200) NULL,
	[DistrictName] [nvarchar](200) NULL,
	[CityName] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[IsMain] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[Level] [int] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Latitude] [decimal](11, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[ParentId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Rank] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerGroupDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerGroupDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CustomerGroupId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerGroups]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerGroups](
	[CustomerGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [tinyint] NULL,
	[Gender] [bit] NULL,
	[BirthDate] [date] NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[WardName] [nvarchar](200) NULL,
	[LocationName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Organization] [nvarchar](200) NULL,
	[Comments] [nvarchar](500) NULL,
	[TaxCode] [nvarchar](100) NULL,
	[Debt] [decimal](18, 2) NOT NULL,
	[TotalInvoiced] [decimal](18, 2) NULL,
	[TotalPoint] [decimal](18, 2) NULL,
	[TotalRevenue] [decimal](18, 2) NULL,
	[BranchId] [int] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAlerts]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAlerts](
	[AlertId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[WarehouseId] [int] NULL,
	[AlertType] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Quantity] [int] NULL,
	[ExpiredDate] [date] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ResolvedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAudits]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAudits](
	[InventoryAuditId] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[SystemQty] [int] NOT NULL,
	[CountedQty] [int] NOT NULL,
	[Difference]  AS ([CountedQty]-[SystemQty]),
	[ScanTime] [datetime2](7) NOT NULL,
	[ScannedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryAuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[BranchId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[DiscountRatio] [decimal](5, 2) NULL,
	[Description] [nvarchar](500) NULL,
	[UsingCOD] [bit] NOT NULL,
	[StatusId] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ConfirmedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[RawResponse] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[ProductAttributeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AttributeName] [nvarchar](100) NOT NULL,
	[AttributeValue] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductAttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInventories]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInventories](
	[ProductInventoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BranchId] [int] NULL,
	[WarehouseId] [int] NULL,
	[OnHand] [int] NOT NULL,
	[Reserved] [int] NOT NULL,
	[Available]  AS ([OnHand]-[Reserved]),
	[LastUpdated] [datetime2](7) NOT NULL,
	[MinThreshold] [int] NULL,
	[ExpiryWarningDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductInventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInventoryLots]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInventoryLots](
	[ProductInventoryLotId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[WarehouseId] [int] NULL,
	[BranchId] [int] NULL,
	[BatchId] [int] NULL,
	[ExpiredDate] [date] NULL,
	[OnHand] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductInventoryLotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[RetailPrice] [decimal](18, 2) NOT NULL,
	[Weight] [decimal](18, 3) NULL,
	[Unit] [nvarchar](50) NULL,
	[AllowsSale] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Barcode] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUnits]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnits](
	[ProductUnitId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[ConversionRate] [decimal](18, 3) NOT NULL,
	[IsBaseUnit] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[BatchId] [int] NULL,
	[ExpiredDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DocumentCode] [nvarchar](50) NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[ExpectedDeliveryDate] [datetime2](7) NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[WarehouseId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TotalPayment] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[DiscountRatio] [decimal](5, 2) NULL,
	[Description] [nvarchar](500) NULL,
	[StatusId] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplenishmentRequestDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplenishmentRequestDetails](
	[ReplenishmentRequestDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReplenishmentRequestId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplenishmentRequestDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplenishmentRequests]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplenishmentRequests](
	[ReplenishmentRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [nvarchar](50) NOT NULL,
	[BranchId] [int] NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StatusId] [int] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplenishmentRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockReturnDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockReturnDetails](
	[StockReturnDetailId] [int] IDENTITY(1,1) NOT NULL,
	[StockReturnId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExpiredDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockReturnDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockReturns]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockReturns](
	[StockReturnId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnCode] [nvarchar](50) NOT NULL,
	[FromBranchId] [int] NOT NULL,
	[ToWarehouseId] [int] NOT NULL,
	[ReturnDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[StatusId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransferDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransferDetails](
	[StockTransferDetailId] [int] IDENTITY(1,1) NOT NULL,
	[StockTransferId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockTransferDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransfers]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransfers](
	[StockTransferId] [int] IDENTITY(1,1) NOT NULL,
	[TransferCode] [nvarchar](50) NOT NULL,
	[FromWarehouseId] [int] NOT NULL,
	[ToBranchId] [int] NOT NULL,
	[TransferDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StatusId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[WardName] [nvarchar](200) NULL,
	[Organization] [nvarchar](200) NULL,
	[TaxCode] [nvarchar](100) NULL,
	[Comments] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[BranchId] [int] NULL,
	[Debt] [decimal](18, 2) NULL,
	[TotalInvoiced] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[GivenName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[BranchId] [int] NULL,
	[Role] [tinyint] NOT NULL,
	[BirthDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherCampaigns]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherCampaigns](
	[VoucherCampaignId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StatusId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[BranchId] [int] NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderValue] [decimal](18, 2) NULL,
	[MaxDiscountValue] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[UsedQuantity] [int] NOT NULL,
	[RemainingQuantity] [int] NOT NULL,
	[IsAutoGenerate] [bit] NOT NULL,
	[IsUnlimited] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherCampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[VoucherCampaignId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StatusId] [int] NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedDate] [datetime2](7) NULL,
	[CustomerId] [int] NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[InvoiceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Batches] ON 

INSERT [dbo].[Batches] ([BatchId], [LotCode], [WarehouseId], [SupplierId], [PurchaseDate], [CreatedBy], [CreatedDate]) VALUES (2, N'5K15', 1, 2, CAST(N'2025-11-15T21:49:00.9803558' AS DateTime2), 1, CAST(N'2025-11-15T21:49:00.9803558' AS DateTime2))
INSERT [dbo].[Batches] ([BatchId], [LotCode], [WarehouseId], [SupplierId], [PurchaseDate], [CreatedBy], [CreatedDate]) VALUES (3, N'5K15.2', 1, 2, CAST(N'2025-11-15T21:51:30.1352890' AS DateTime2), 1, CAST(N'2025-11-15T21:51:30.1352890' AS DateTime2))
INSERT [dbo].[Batches] ([BatchId], [LotCode], [WarehouseId], [SupplierId], [PurchaseDate], [CreatedBy], [CreatedDate]) VALUES (4, N'5K15.3', 1, 2, CAST(N'2025-11-15T21:52:04.2480458' AS DateTime2), 1, CAST(N'2025-11-15T21:52:04.2480458' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Batches] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [BranchCode], [Name], [Address], [WardName], [DistrictName], [CityName], [PhoneNumber], [Email], [IsActive], [IsMain], [ParentId], [Level], [CreatedBy], [CreatedDate], [ModifiedDate], [Latitude], [Longitude]) VALUES (1, NULL, N'Cửa hàng 263B Lê Văn Sỹ', NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, NULL, NULL, NULL, CAST(N'2025-11-07T02:23:39.4488100' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Branches] ([Id], [BranchCode], [Name], [Address], [WardName], [DistrictName], [CityName], [PhoneNumber], [Email], [IsActive], [IsMain], [ParentId], [Level], [CreatedBy], [CreatedDate], [ModifiedDate], [Latitude], [Longitude]) VALUES (2, N'string', N'Hihi hẹ hẹ', N'string', N'string', N'string', N'string', N'string', N'string', 1, 0, NULL, NULL, N'string', CAST(N'2025-11-07T08:31:14.6287885' AS DateTime2), CAST(N'2025-11-07T08:31:33.5690155' AS DateTime2), NULL, NULL)
INSERT [dbo].[Branches] ([Id], [BranchCode], [Name], [Address], [WardName], [DistrictName], [CityName], [PhoneNumber], [Email], [IsActive], [IsMain], [ParentId], [Level], [CreatedBy], [CreatedDate], [ModifiedDate], [Latitude], [Longitude]) VALUES (3, N'BR1763322433806', N'ádasdasd', N'ádasdasd', N'ádasd', N'adasd', N'ádada', N'0345345353', NULL, 1, 0, NULL, 3, N'1', CAST(N'2025-11-16T19:47:13.8067473' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [Description], [Rank], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (1, N'Đồ uống', NULL, N'Các loại nước uống', 1, 0, CAST(N'2025-11-07T14:08:06.4804291' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [Description], [Rank], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (2, N'Đồ khô', NULL, N'Mì, bún, gạo, đồ khô', 2, 0, CAST(N'2025-11-07T14:08:06.4804291' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [Description], [Rank], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (3, N'Gia vị', NULL, N'Nước mắm, nước tương', 3, 0, CAST(N'2025-11-07T14:08:06.4804291' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerGroups] ON 

INSERT [dbo].[CustomerGroups] ([CustomerGroupId], [Name], [Description]) VALUES (1, N'Khách thành viên', NULL)
INSERT [dbo].[CustomerGroups] ([CustomerGroupId], [Name], [Description]) VALUES (2, N'Khách vãng lai', NULL)
SET IDENTITY_INSERT [dbo].[CustomerGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Code], [Name], [Type], [Gender], [BirthDate], [ContactNumber], [Address], [WardName], [LocationName], [Email], [Organization], [Comments], [TaxCode], [Debt], [TotalInvoiced], [TotalPoint], [TotalRevenue], [BranchId], [CreatedBy], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (1, NULL, N'Lê Thị Mai', NULL, NULL, NULL, N'0912345678', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, 1, NULL, 1, CAST(N'2025-11-08T21:00:29.2747064' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryAlerts] ON 

INSERT [dbo].[InventoryAlerts] ([AlertId], [ProductId], [BranchId], [WarehouseId], [AlertType], [Message], [Quantity], [ExpiredDate], [CreatedDate], [IsRead], [ResolvedDate]) VALUES (1, 1, 1, NULL, N'LOW_STOCK', N'Tồn kho thấp: Coca Cola lon 330ml (Available=34, Min=50)', 34, NULL, CAST(N'2025-11-15T17:55:03.0178195' AS DateTime2), 0, NULL)
INSERT [dbo].[InventoryAlerts] ([AlertId], [ProductId], [BranchId], [WarehouseId], [AlertType], [Message], [Quantity], [ExpiredDate], [CreatedDate], [IsRead], [ResolvedDate]) VALUES (2, 3, 1, NULL, N'LOW_STOCK', N'Tồn kho thấp: Mì Hảo Hảo tôm chua cay (Available=34, Min=80)', 34, NULL, CAST(N'2025-11-15T17:55:03.0932618' AS DateTime2), 0, NULL)
INSERT [dbo].[InventoryAlerts] ([AlertId], [ProductId], [BranchId], [WarehouseId], [AlertType], [Message], [Quantity], [ExpiredDate], [CreatedDate], [IsRead], [ResolvedDate]) VALUES (3, 1, NULL, 1, N'EXPIRED', N'Hết hạn: Coca Cola lon 330ml - lô sắp/đã hết hạn (2024-01-01), tồn lô = 20', 20, CAST(N'2024-01-01' AS Date), CAST(N'2025-11-15T18:03:48.7579672' AS DateTime2), 1, CAST(N'2025-11-15T18:21:28.4431579' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InventoryAlerts] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (3, 3, 1, 2, CAST(10000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (4, 3, 3, 2, CAST(4000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [Discount]) VALUES (5, 4, 1, 2, CAST(10000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceId], [Code], [PurchaseDate], [BranchId], [CustomerId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [UsingCOD], [StatusId], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (1, N'INV-001', CAST(N'2025-11-08T00:25:36.0866667' AS DateTime2), 1, NULL, CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Hóa đơn test MoMo', 0, 5, CAST(N'2025-11-08T00:25:36.0866667' AS DateTime2), NULL, 1)
INSERT [dbo].[Invoices] ([InvoiceId], [Code], [PurchaseDate], [BranchId], [CustomerId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [UsingCOD], [StatusId], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (3, N'INV20251108-001', CAST(N'2025-11-08T22:53:30.6019602' AS DateTime2), 1, 1, CAST(28000.00 AS Decimal(18, 2)), CAST(28000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Khách Lê Thị Mai mua Coca Cola lon và Mì Hảo Hảo', 0, 7, CAST(N'2025-11-08T22:53:30.6019602' AS DateTime2), NULL, 1)
INSERT [dbo].[Invoices] ([InvoiceId], [Code], [PurchaseDate], [BranchId], [CustomerId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [UsingCOD], [StatusId], [CreatedDate], [ModifiedDate], [CreatedBy]) VALUES (4, N'INV20251108-001', CAST(N'2025-11-08T23:02:34.9389657' AS DateTime2), 1, 1, CAST(28000.00 AS Decimal(18, 2)), CAST(28000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Khách Lê Thị Mai mua Coca Cola lon và Mì Hảo Hảo', 0, 7, CAST(N'2025-11-08T23:02:34.9389657' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [Amount], [Method], [TransactionCode], [Status], [CreatedDate], [ConfirmedDate], [CreatedBy], [RawResponse]) VALUES (4, 3, CAST(28000.00 AS Decimal(18, 2)), N'CASH', NULL, N'SUCCESS', CAST(N'2025-11-08T15:53:30.6134485' AS DateTime2), CAST(N'2025-11-08T15:53:30.6134485' AS DateTime2), 1, NULL)
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [Amount], [Method], [TransactionCode], [Status], [CreatedDate], [ConfirmedDate], [CreatedBy], [RawResponse]) VALUES (5, 4, CAST(28000.00 AS Decimal(18, 2)), N'CASH', NULL, N'SUCCESS', CAST(N'2025-11-08T16:02:35.0572143' AS DateTime2), CAST(N'2025-11-08T16:02:35.0572143' AS DateTime2), 1, NULL)
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [Amount], [Method], [TransactionCode], [Status], [CreatedDate], [ConfirmedDate], [CreatedBy], [RawResponse]) VALUES (6, 5, CAST(28000.00 AS Decimal(18, 2)), N'MOMO', N'60a15bcf-ed8a-494a-952f-95ed77726b3e', N'PROCESSING', CAST(N'2025-11-08T23:50:23.3883187' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

INSERT [dbo].[ProductAttributes] ([ProductAttributeId], [ProductId], [AttributeName], [AttributeValue]) VALUES (2, 3, N'Hương vị', N'Tôm chua cay')
INSERT [dbo].[ProductAttributes] ([ProductAttributeId], [ProductId], [AttributeName], [AttributeValue]) VALUES (3, 6, N'hihi', N'hihi')
INSERT [dbo].[ProductAttributes] ([ProductAttributeId], [ProductId], [AttributeName], [AttributeValue]) VALUES (6, 8, N'hihi', N'hihi')
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductInventories] ON 

INSERT [dbo].[ProductInventories] ([ProductInventoryId], [ProductId], [BranchId], [WarehouseId], [OnHand], [Reserved], [LastUpdated], [MinThreshold], [ExpiryWarningDays]) VALUES (0, 1, NULL, 1, 0, 0, CAST(N'2025-11-15T23:05:27.7971600' AS DateTime2), 50, 60)
INSERT [dbo].[ProductInventories] ([ProductInventoryId], [ProductId], [BranchId], [WarehouseId], [OnHand], [Reserved], [LastUpdated], [MinThreshold], [ExpiryWarningDays]) VALUES (1, 2, NULL, 1, 0, 0, CAST(N'2025-11-07T14:08:06.5001652' AS DateTime2), 40, 45)
INSERT [dbo].[ProductInventories] ([ProductInventoryId], [ProductId], [BranchId], [WarehouseId], [OnHand], [Reserved], [LastUpdated], [MinThreshold], [ExpiryWarningDays]) VALUES (2, 3, NULL, 1, 238, 0, CAST(N'2025-11-15T23:05:27.7977718' AS DateTime2), 80, 30)
SET IDENTITY_INSERT [dbo].[ProductInventories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductInventoryLots] ON 

INSERT [dbo].[ProductInventoryLots] ([ProductInventoryLotId], [ProductId], [WarehouseId], [BranchId], [BatchId], [ExpiredDate], [OnHand], [LastUpdated]) VALUES (1, 1, 1, NULL, 2, CAST(N'2026-05-01' AS Date), 0, CAST(N'2025-11-15T23:04:55.1358963' AS DateTime2))
INSERT [dbo].[ProductInventoryLots] ([ProductInventoryLotId], [ProductId], [WarehouseId], [BranchId], [BatchId], [ExpiredDate], [OnHand], [LastUpdated]) VALUES (2, 3, 1, NULL, 2, CAST(N'2026-03-10' AS Date), 0, CAST(N'2025-11-15T23:04:55.1378992' AS DateTime2))
INSERT [dbo].[ProductInventoryLots] ([ProductInventoryLotId], [ProductId], [WarehouseId], [BranchId], [BatchId], [ExpiredDate], [OnHand], [LastUpdated]) VALUES (3, 1, 1, NULL, 3, CAST(N'2024-01-01' AS Date), 0, CAST(N'2025-11-15T23:05:27.7957725' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductInventoryLots] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Code], [Name], [CategoryId], [BasePrice], [RetailPrice], [Weight], [Unit], [AllowsSale], [Status], [Description], [CreatedDate], [ModifiedDate], [Barcode], [ImageUrl], [StatusId]) VALUES (2, N'SP0002', N'Pepsi lon 330ml', 1, CAST(6000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(0.330 AS Decimal(18, 3)), N'lon', 1, N'Active', N'Nước ngọt Pepsi', CAST(N'2025-11-07T14:08:06.4854300' AS DateTime2), NULL, N'8930001000029', N'https://dummyimage.com/600x400/pepsi', 28)
INSERT [dbo].[Products] ([ProductId], [Code], [Name], [CategoryId], [BasePrice], [RetailPrice], [Weight], [Unit], [AllowsSale], [Status], [Description], [CreatedDate], [ModifiedDate], [Barcode], [ImageUrl], [StatusId]) VALUES (3, N'SP0003', N'Mì Hảo Hảo tôm chua cay', 2, CAST(2500.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(0.075 AS Decimal(18, 3)), N'gói', 1, N'Active', N'Mì ăn liền Hảo Hảo', CAST(N'2025-11-07T14:08:06.4854300' AS DateTime2), NULL, N'8930001000036', N'https://dummyimage.com/600x400/haohao', 28)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductUnits] ON 

INSERT [dbo].[ProductUnits] ([ProductUnitId], [ProductId], [UnitName], [ConversionRate], [IsBaseUnit], [CreatedDate]) VALUES (1, 1, N'Lon', CAST(1.000 AS Decimal(18, 3)), 1, CAST(N'2025-11-16T23:32:25.8024015' AS DateTime2))
INSERT [dbo].[ProductUnits] ([ProductUnitId], [ProductId], [UnitName], [ConversionRate], [IsBaseUnit], [CreatedDate]) VALUES (2, 1, N'Lốc 6 lon', CAST(6.000 AS Decimal(18, 3)), 0, CAST(N'2025-11-16T23:32:25.8024015' AS DateTime2))
INSERT [dbo].[ProductUnits] ([ProductUnitId], [ProductId], [UnitName], [ConversionRate], [IsBaseUnit], [CreatedDate]) VALUES (3, 1, N'Thùng 24 lon', CAST(24.000 AS Decimal(18, 3)), 0, CAST(N'2025-11-16T23:32:25.8024015' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] ON 

INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [UnitPrice], [Discount], [BatchId], [ExpiredDate]) VALUES (1, 1, 1, 100, CAST(6000.00 AS Decimal(18, 2)), NULL, 2, CAST(N'2026-05-01' AS Date))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [UnitPrice], [Discount], [BatchId], [ExpiredDate]) VALUES (2, 1, 3, 200, CAST(2500.00 AS Decimal(18, 2)), NULL, 2, CAST(N'2026-03-10' AS Date))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderDetailId], [PurchaseOrderId], [ProductId], [Quantity], [UnitPrice], [Discount], [BatchId], [ExpiredDate]) VALUES (3, 2, 1, 100, CAST(6000.00 AS Decimal(18, 2)), NULL, 3, CAST(N'2026-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [Code], [DocumentCode], [PurchaseDate], [ExpectedDeliveryDate], [DeliveryDate], [WarehouseId], [SupplierId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (1, N'NK51115-2149', NULL, CAST(N'2025-11-15T21:49:00.9833622' AS DateTime2), NULL, NULL, 1, 2, CAST(160000.00 AS Decimal(18, 2)), CAST(160000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Nhập Coca & Mì từ NCC Coca-Cola', 1, CAST(N'2025-11-15T21:49:00.9833622' AS DateTime2), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [Code], [DocumentCode], [PurchaseDate], [ExpectedDeliveryDate], [DeliveryDate], [WarehouseId], [SupplierId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (2, N'NK51115-2151', NULL, CAST(N'2025-11-15T21:51:30.1378046' AS DateTime2), NULL, NULL, 1, 2, CAST(160000.00 AS Decimal(18, 2)), CAST(160000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Nhập Coca & Mì từ NCC Coca-Cola', 1, CAST(N'2025-11-15T21:51:30.1378046' AS DateTime2), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [Code], [DocumentCode], [PurchaseDate], [ExpectedDeliveryDate], [DeliveryDate], [WarehouseId], [SupplierId], [Total], [TotalPayment], [Discount], [DiscountRatio], [Description], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (3, N'NK51115-2152', NULL, CAST(N'2025-11-15T21:52:04.2500536' AS DateTime2), NULL, NULL, 1, 2, CAST(160000.00 AS Decimal(18, 2)), CAST(160000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Nhập Coca & Mì từ NCC Coca-Cola', 1, CAST(N'2025-11-15T21:52:04.2500536' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[ReplenishmentRequestDetails] ON 

INSERT [dbo].[ReplenishmentRequestDetails] ([ReplenishmentRequestDetailId], [ReplenishmentRequestId], [ProductId], [Quantity]) VALUES (1, 2, 1, 50)
INSERT [dbo].[ReplenishmentRequestDetails] ([ReplenishmentRequestDetailId], [ReplenishmentRequestId], [ProductId], [Quantity]) VALUES (2, 2, 3, 120)
SET IDENTITY_INSERT [dbo].[ReplenishmentRequestDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ReplenishmentRequests] ON 

INSERT [dbo].[ReplenishmentRequests] ([ReplenishmentRequestId], [RequestCode], [BranchId], [RequestDate], [Description], [StatusId], [CreatedBy]) VALUES (2, N'RR251115-2253', 2, CAST(N'2025-11-15T22:53:35.3222292' AS DateTime2), N'Đề xuất nhập hàng Tháng 12', 1, 3)
SET IDENTITY_INSERT [dbo].[ReplenishmentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [EntityType], [Code], [Name], [Description], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (1, N'Order', N'DRAFT', N'Nháp', NULL, 1, CAST(N'2025-11-06T23:47:31.1774771' AS DateTime2), NULL)
INSERT [dbo].[Status] ([StatusId], [EntityType], [Code], [Name], [Description], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (2, N'Order', N'PROCESSING', N'Đang xử lý', NULL, 1, CAST(N'2025-11-06T23:47:31.1774771' AS DateTime2), NULL)
INSERT [dbo].[Status] ([StatusId], [EntityType], [Code], [Name], [Description], [IsActive], [CreatedDate], [ModifiedDate]) VALUES (3, N'Order', N'COMPLETED', N'Hoàn thành', NULL, 1, CAST(N'2025-11-06T23:47:31.1774771' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[StockTransferDetails] ON 

INSERT [dbo].[StockTransferDetails] ([StockTransferDetailId], [StockTransferId], [ProductId], [Quantity]) VALUES (1, 1, 1, 50)
INSERT [dbo].[StockTransferDetails] ([StockTransferDetailId], [StockTransferId], [ProductId], [Quantity]) VALUES (2, 1, 3, 120)
INSERT [dbo].[StockTransferDetails] ([StockTransferDetailId], [StockTransferId], [ProductId], [Quantity]) VALUES (3, 2, 1, 51)
SET IDENTITY_INSERT [dbo].[StockTransferDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StockTransfers] ON 

INSERT [dbo].[StockTransfers] ([StockTransferId], [TransferCode], [FromWarehouseId], [ToBranchId], [TransferDate], [Description], [StatusId], [CreatedBy], [CreatedDate]) VALUES (1, N'CK51115-2304', 1, 2, CAST(N'2025-11-15T23:04:17.6710490' AS DateTime2), N'Chuyển hàng tháng 12 cho chi nhánh 2', 1, 1, CAST(N'2025-11-15T23:04:17.6710490' AS DateTime2))
INSERT [dbo].[StockTransfers] ([StockTransferId], [TransferCode], [FromWarehouseId], [ToBranchId], [TransferDate], [Description], [StatusId], [CreatedBy], [CreatedDate]) VALUES (2, N'CK51115-2304', 1, 2, CAST(N'2025-11-15T23:04:55.1172947' AS DateTime2), N'Chuyển hàng tháng 12 cho chi nhánh 2', 1, 1, CAST(N'2025-11-15T23:04:55.1172947' AS DateTime2))
INSERT [dbo].[StockTransfers] ([StockTransferId], [TransferCode], [FromWarehouseId], [ToBranchId], [TransferDate], [Description], [StatusId], [CreatedBy], [CreatedDate]) VALUES (3, N'CK51115-2305', 1, 2, CAST(N'2025-11-15T23:05:27.7671929' AS DateTime2), N'Chuyển hàng tháng 12 cho chi nhánh 2', 1, 1, CAST(N'2025-11-15T23:05:27.7671929' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockTransfers] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [Code], [Name], [ContactNumber], [Email], [Address], [WardName], [Organization], [TaxCode], [Comments], [Description], [IsActive], [BranchId], [Debt], [TotalInvoiced], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (2, N'NCC20251115213107', N'Nhà cung cấp CocaCola', N'0909000000', N'hihi@gmail.com', N'Quận 1', NULL, N'no', NULL, NULL, NULL, 1, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'admin', CAST(N'2025-11-15T21:31:07.9992120' AS DateTime2), CAST(N'2025-11-16T18:53:49.1284034' AS DateTime2))
INSERT [dbo].[Suppliers] ([SupplierId], [Code], [Name], [ContactNumber], [Email], [Address], [WardName], [Organization], [TaxCode], [Comments], [Description], [IsActive], [BranchId], [Debt], [TotalInvoiced], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (3, N'SUP001', N'CocaCola Việt Nam', N'0909000000', N'contact@cocacola.vn', N'Quận 1, TP.HCM', N'Phường Bến Nghé', N'CocaCola VN', N'0301234567', NULL, N'Nhà cung cấp nước giải khát', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'1', CAST(N'2025-11-16T23:32:16.4158893' AS DateTime2), NULL)
INSERT [dbo].[Suppliers] ([SupplierId], [Code], [Name], [ContactNumber], [Email], [Address], [WardName], [Organization], [TaxCode], [Comments], [Description], [IsActive], [BranchId], [Debt], [TotalInvoiced], [CreatedBy], [CreatedDate], [ModifiedDate]) VALUES (4, N'SUP002', N'PepsiCo Việt Nam', N'0909555000', N'support@pepsico.vn', N'Quận Bình Thạnh, TP.HCM', N'Phường 25', N'Pepsi VN', N'0312223334', NULL, N'Nhà cung cấp nước ngọt', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'1', CAST(N'2025-11-16T23:32:16.4158893' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [GivenName], [Address], [MobilePhone], [Email], [Description], [BranchId], [Role], [BirthDate], [IsActive], [CreatedDate], [ModifiedDate], [AvatarUrl], [Status]) VALUES (1, N'admin', N'$2a$10$HV3sYVg17dxQv5U/cDsoF.3nynNiG6Eb1uWQ9miof6Oc7weYQSpiW', N'Admin Tổng', NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, CAST(N'2025-11-06T19:19:03.1566956' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [GivenName], [Address], [MobilePhone], [Email], [Description], [BranchId], [Role], [BirthDate], [IsActive], [CreatedDate], [ModifiedDate], [AvatarUrl], [Status]) VALUES (2, N'manager1', N'$2a$10$/FXbYI.PUir7p9OyU3jYo.1zI0ADEg8rSILNWg9AhkIGCp2vCwWEi', N'Nguyễn Thị Thanh Hiền', NULL, NULL, NULL, NULL, 1, 2, NULL, 1, CAST(N'2025-11-06T19:23:43.1152865' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [GivenName], [Address], [MobilePhone], [Email], [Description], [BranchId], [Role], [BirthDate], [IsActive], [CreatedDate], [ModifiedDate], [AvatarUrl], [Status]) VALUES (3, N'staff1', N'$2a$10$HegV5JY5JBNjUjvdp80LH.zXkMKJZ/n6WUxAzWM5KTrlUaMrkqpQO', N'Nguyễn Tiến Đạt', NULL, NULL, NULL, NULL, 1, 3, NULL, 1, CAST(N'2025-11-06T19:24:40.8118838' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VoucherCampaigns] ON 

SET IDENTITY_INSERT [dbo].[VoucherCampaigns] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherId], [Code], [VoucherCampaignId], [StartDate], [EndDate], [StatusId], [IsUsed], [UsedDate], [CustomerId], [DiscountValue], [InvoiceId]) VALUES (1, N'VC-202511-001', 1, CAST(N'2025-11-07T13:22:08.8244781' AS DateTime2), CAST(N'2025-11-14T13:22:08.8244781' AS DateTime2), 25, 0, NULL, NULL, CAST(20000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Vouchers] ([VoucherId], [Code], [VoucherCampaignId], [StartDate], [EndDate], [StatusId], [IsUsed], [UsedDate], [CustomerId], [DiscountValue], [InvoiceId]) VALUES (2, N'VC-202511-002', 1, CAST(N'2025-11-07T13:22:08.8244781' AS DateTime2), CAST(N'2025-11-14T13:22:08.8244781' AS DateTime2), 25, 0, NULL, NULL, CAST(20000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Vouchers] ([VoucherId], [Code], [VoucherCampaignId], [StartDate], [EndDate], [StatusId], [IsUsed], [UsedDate], [CustomerId], [DiscountValue], [InvoiceId]) VALUES (3, N'aaa-E4CAC1C8', 2, CAST(N'2025-11-18T17:00:00.0000000' AS DateTime2), CAST(N'2025-11-18T17:06:00.0000000' AS DateTime2), 25, 0, NULL, NULL, CAST(10000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseId], [Name], [Address], [CreatedDate]) VALUES (1, N'Kho tổng', N'Địa chỉ kho tổng', CAST(N'2025-11-07T14:08:06.4769200' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Batches__809889D60B86D590]    Script Date: 11/17/2025 3:14:59 AM ******/
ALTER TABLE [dbo].[Batches] ADD UNIQUE NONCLUSTERED 
(
	[LotCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__A25C5AA702E17CF8]    Script Date: 11/17/2025 3:14:59 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_Barcode]    Script Date: 11/17/2025 3:14:59 AM ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Products_Barcode] UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Status_EntityType_Code]    Script Date: 11/17/2025 3:14:59 AM ******/
ALTER TABLE [dbo].[Status] ADD  CONSTRAINT [UQ_Status_EntityType_Code] UNIQUE NONCLUSTERED 
(
	[EntityType] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F2845681B4E142]    Script Date: 11/17/2025 3:14:59 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT (sysdatetime()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Debt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InventoryAlerts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InventoryAlerts] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[InventoryAudits] ADD  DEFAULT (sysdatetime()) FOR [ScanTime]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalPayment]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [UsingCOD]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductInventories] ADD  DEFAULT ((0)) FOR [OnHand]
GO
ALTER TABLE [dbo].[ProductInventories] ADD  DEFAULT ((0)) FOR [Reserved]
GO
ALTER TABLE [dbo].[ProductInventories] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[ProductInventoryLots] ADD  DEFAULT ((0)) FOR [OnHand]
GO
ALTER TABLE [dbo].[ProductInventoryLots] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RetailPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [AllowsSale]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  DEFAULT ((0)) FOR [IsBaseUnit]
GO
ALTER TABLE [dbo].[ProductUnits] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [TotalPayment]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ReplenishmentRequests] ADD  DEFAULT (sysdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Status] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Status] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockReturns] ADD  DEFAULT (sysdatetime()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[StockReturns] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StockTransfers] ADD  DEFAULT (sysdatetime()) FOR [TransferDate]
GO
ALTER TABLE [dbo].[StockTransfers] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_Code]  DEFAULT ('NCC'+format(getdate(),'yyyyMMddHHmmss')) FOR [Code]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((0)) FOR [UsedQuantity]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((0)) FOR [RemainingQuantity]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((0)) FOR [IsAutoGenerate]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT ((0)) FOR [IsUnlimited]
GO
ALTER TABLE [dbo].[VoucherCampaigns] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_Parent]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[CustomerGroupDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustGroupDetails_CustomerGroups] FOREIGN KEY([CustomerGroupId])
REFERENCES [dbo].[CustomerGroups] ([CustomerGroupId])
GO
ALTER TABLE [dbo].[CustomerGroupDetails] CHECK CONSTRAINT [FK_CustGroupDetails_CustomerGroups]
GO
ALTER TABLE [dbo].[CustomerGroupDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustGroupDetails_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerGroupDetails] CHECK CONSTRAINT [FK_CustGroupDetails_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Branches]
GO
ALTER TABLE [dbo].[InventoryAlerts]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[InventoryAlerts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InventoryAlerts]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryAudits]  WITH CHECK ADD  CONSTRAINT [FK_InventoryAudits_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[InventoryAudits] CHECK CONSTRAINT [FK_InventoryAudits_Branches]
GO
ALTER TABLE [dbo].[InventoryAudits]  WITH CHECK ADD  CONSTRAINT [FK_InventoryAudits_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InventoryAudits] CHECK CONSTRAINT [FK_InventoryAudits_Products]
GO
ALTER TABLE [dbo].[InventoryAudits]  WITH CHECK ADD  CONSTRAINT [FK_InventoryAudits_Users] FOREIGN KEY([ScannedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryAudits] CHECK CONSTRAINT [FK_InventoryAudits_Users]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Branches]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Status]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_Products]
GO
ALTER TABLE [dbo].[ProductInventories]  WITH CHECK ADD  CONSTRAINT [FK_ProductInventories_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[ProductInventories] CHECK CONSTRAINT [FK_ProductInventories_Branches]
GO
ALTER TABLE [dbo].[ProductInventories]  WITH CHECK ADD  CONSTRAINT [FK_ProductInventories_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductInventories] CHECK CONSTRAINT [FK_ProductInventories_Products]
GO
ALTER TABLE [dbo].[ProductInventories]  WITH CHECK ADD  CONSTRAINT [FK_ProductInventories_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[ProductInventories] CHECK CONSTRAINT [FK_ProductInventories_Warehouses]
GO
ALTER TABLE [dbo].[ProductInventoryLots]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([BatchId])
GO
ALTER TABLE [dbo].[ProductInventoryLots]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[ProductInventoryLots]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductInventoryLots]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Status]
GO
ALTER TABLE [dbo].[ProductUnits]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([BatchId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PODetails_PO] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PODetails_PO]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PODetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PODetails_Products]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Status]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Warehouses]
GO
ALTER TABLE [dbo].[ReplenishmentRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RRDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ReplenishmentRequestDetails] CHECK CONSTRAINT [FK_RRDetails_Products]
GO
ALTER TABLE [dbo].[ReplenishmentRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RRDetails_ReplenishmentRequests] FOREIGN KEY([ReplenishmentRequestId])
REFERENCES [dbo].[ReplenishmentRequests] ([ReplenishmentRequestId])
GO
ALTER TABLE [dbo].[ReplenishmentRequestDetails] CHECK CONSTRAINT [FK_RRDetails_ReplenishmentRequests]
GO
ALTER TABLE [dbo].[ReplenishmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReplenishmentRequests_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[ReplenishmentRequests] CHECK CONSTRAINT [FK_ReplenishmentRequests_Branch]
GO
ALTER TABLE [dbo].[ReplenishmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReplenishmentRequests_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[ReplenishmentRequests] CHECK CONSTRAINT [FK_ReplenishmentRequests_Status]
GO
ALTER TABLE [dbo].[ReplenishmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ReplenishmentRequests_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ReplenishmentRequests] CHECK CONSTRAINT [FK_ReplenishmentRequests_User]
GO
ALTER TABLE [dbo].[StockReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_SRDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[StockReturnDetails] CHECK CONSTRAINT [FK_SRDetails_Products]
GO
ALTER TABLE [dbo].[StockReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_SRDetails_StockReturns] FOREIGN KEY([StockReturnId])
REFERENCES [dbo].[StockReturns] ([StockReturnId])
GO
ALTER TABLE [dbo].[StockReturnDetails] CHECK CONSTRAINT [FK_SRDetails_StockReturns]
GO
ALTER TABLE [dbo].[StockReturns]  WITH CHECK ADD  CONSTRAINT [FK_StockReturns_Branch] FOREIGN KEY([FromBranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[StockReturns] CHECK CONSTRAINT [FK_StockReturns_Branch]
GO
ALTER TABLE [dbo].[StockReturns]  WITH CHECK ADD  CONSTRAINT [FK_StockReturns_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[StockReturns] CHECK CONSTRAINT [FK_StockReturns_Status]
GO
ALTER TABLE [dbo].[StockReturns]  WITH CHECK ADD  CONSTRAINT [FK_StockReturns_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StockReturns] CHECK CONSTRAINT [FK_StockReturns_User]
GO
ALTER TABLE [dbo].[StockReturns]  WITH CHECK ADD  CONSTRAINT [FK_StockReturns_Warehouse] FOREIGN KEY([ToWarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockReturns] CHECK CONSTRAINT [FK_StockReturns_Warehouse]
GO
ALTER TABLE [dbo].[StockTransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_STDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[StockTransferDetails] CHECK CONSTRAINT [FK_STDetails_Products]
GO
ALTER TABLE [dbo].[StockTransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_STDetails_StockTransfers] FOREIGN KEY([StockTransferId])
REFERENCES [dbo].[StockTransfers] ([StockTransferId])
GO
ALTER TABLE [dbo].[StockTransferDetails] CHECK CONSTRAINT [FK_STDetails_StockTransfers]
GO
ALTER TABLE [dbo].[StockTransfers]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfers_FromWarehouse] FOREIGN KEY([FromWarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[StockTransfers] CHECK CONSTRAINT [FK_StockTransfers_FromWarehouse]
GO
ALTER TABLE [dbo].[StockTransfers]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfers_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[StockTransfers] CHECK CONSTRAINT [FK_StockTransfers_Status]
GO
ALTER TABLE [dbo].[StockTransfers]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfers_ToBranch] FOREIGN KEY([ToBranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[StockTransfers] CHECK CONSTRAINT [FK_StockTransfers_ToBranch]
GO
ALTER TABLE [dbo].[StockTransfers]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfers_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StockTransfers] CHECK CONSTRAINT [FK_StockTransfers_Users]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Branches]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Branches]
GO
ALTER TABLE [dbo].[VoucherCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_VoucherCampaigns_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[VoucherCampaigns] CHECK CONSTRAINT [FK_VoucherCampaigns_Branches]
GO
ALTER TABLE [dbo].[VoucherCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_VoucherCampaigns_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[VoucherCampaigns] CHECK CONSTRAINT [FK_VoucherCampaigns_Status]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Campaign] FOREIGN KEY([VoucherCampaignId])
REFERENCES [dbo].[VoucherCampaigns] ([VoucherCampaignId])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Campaign]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Customers]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Invoices]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_Status]
GO
ALTER TABLE [dbo].[InventoryAlerts]  WITH CHECK ADD  CONSTRAINT [CK_InventoryAlerts_Location] CHECK  (([BranchId] IS NOT NULL AND [WarehouseId] IS NULL OR [BranchId] IS NULL AND [WarehouseId] IS NOT NULL))
GO
ALTER TABLE [dbo].[InventoryAlerts] CHECK CONSTRAINT [CK_InventoryAlerts_Location]
GO
ALTER TABLE [dbo].[ProductInventories]  WITH CHECK ADD  CONSTRAINT [CK_ProductInventories_Location] CHECK  (([BranchId] IS NOT NULL AND [WarehouseId] IS NULL OR [BranchId] IS NULL AND [WarehouseId] IS NOT NULL))
GO
ALTER TABLE [dbo].[ProductInventories] CHECK CONSTRAINT [CK_ProductInventories_Location]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=(3) OR [Role]=(2) OR [Role]=(1)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddInventoryLot]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddInventoryLot]
    @ProductId INT,
    @WarehouseId INT,
    @BatchId INT,
    @ExpiredDate DATE,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ProductInventoryLots
    (
        ProductId, WarehouseId, BatchId, ExpiredDate, OnHand, LastUpdated
    )
    VALUES
    (
        @ProductId, @WarehouseId, @BatchId, @ExpiredDate, @Quantity, SYSDATETIME()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPurchaseOrderDetail]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddPurchaseOrderDetail]
    @PurchaseOrderId INT,
    @ProductId INT,
    @Quantity INT,
    @UnitPrice DECIMAL(18,2),
    @BatchId INT,
    @ExpiredDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PurchaseOrderDetails
    (
        PurchaseOrderId, ProductId, Quantity, UnitPrice, BatchId, ExpiredDate
    )
    VALUES
    (
        @PurchaseOrderId, @ProductId, @Quantity, @UnitPrice, @BatchId, @ExpiredDate
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddReplenishmentDetail]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddReplenishmentDetail]
(
    @RequestId INT,
    @ProductId INT,
    @Quantity INT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ReplenishmentRequestDetails
    (
        ReplenishmentRequestId, ProductId, Quantity
    )
    VALUES
    (
        @RequestId, @ProductId, @Quantity
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStockTransferDetail]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddStockTransferDetail]
(
    @StockTransferId INT,
    @ProductId INT,
    @Quantity INT,
    @FromWarehouseId INT,
    @ToBranchId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Quantity <= 0)
    BEGIN
        RAISERROR('Số lượng phải lớn hơn 0.', 16, 1);
        RETURN;
    END

    DECLARE 
        @Remaining INT = @Quantity,
        @LotId INT,
        @LotQty INT,
        @BatchId INT,
        @ExpiredDate DATE;

    -- Lưu dòng chi tiết tổng (ProductId, Quantity)
    INSERT INTO StockTransferDetails (StockTransferId, ProductId, Quantity)
    VALUES (@StockTransferId, @ProductId, @Quantity);

    WHILE (@Remaining > 0)
    BEGIN
        -- Lấy lô FIFO tại kho tổng
        SELECT TOP 1
              @LotId = ProductInventoryLotId,
              @LotQty = OnHand,
              @BatchId = BatchId,
              @ExpiredDate = ExpiredDate
        FROM ProductInventoryLots
        WHERE WarehouseId = @FromWarehouseId
          AND ProductId   = @ProductId
          AND OnHand      > 0
        ORDER BY ExpiredDate ASC, ProductInventoryLotId ASC;

        IF (@LotId IS NULL)
        BEGIN
            RAISERROR('Không đủ tồn kho FIFO tại kho tổng.', 16, 1);
            RETURN;
        END

        DECLARE @MoveQty INT;
        IF (@LotQty >= @Remaining)
            SET @MoveQty = @Remaining;
        ELSE
            SET @MoveQty = @LotQty;

        -- 1) Trừ lô tại kho tổng
        UPDATE ProductInventoryLots
        SET OnHand = OnHand - @MoveQty,
            LastUpdated = SYSDATETIME()
        WHERE ProductInventoryLotId = @LotId;

        -- 2) Cộng vào lô tại chi nhánh (giữ BatchId & ExpiredDate)
        IF EXISTS (
            SELECT 1 FROM ProductInventoryLots
            WHERE BranchId = @ToBranchId
              AND ProductId = @ProductId
              AND BatchId   = @BatchId
              AND ( (ExpiredDate IS NULL AND @ExpiredDate IS NULL)
                    OR (ExpiredDate = @ExpiredDate) )
        )
        BEGIN
            UPDATE ProductInventoryLots
            SET OnHand = OnHand + @MoveQty,
                LastUpdated = SYSDATETIME()
            WHERE BranchId = @ToBranchId
              AND ProductId = @ProductId
              AND BatchId   = @BatchId
              AND ( (ExpiredDate IS NULL AND @ExpiredDate IS NULL)
                    OR (ExpiredDate = @ExpiredDate) );
        END
        ELSE
        BEGIN
            INSERT INTO ProductInventoryLots
            (
                ProductId, WarehouseId, BranchId,
                BatchId, ExpiredDate, OnHand, LastUpdated
            )
            VALUES
            (
                @ProductId, NULL, @ToBranchId,
                @BatchId, @ExpiredDate, @MoveQty, SYSDATETIME()
            );
        END

        SET @Remaining = @Remaining - @MoveQty;
        SET @LotId = NULL;
        SET @LotQty = NULL;
    END

    -- 3) Cập nhật tổng tồn kho tại kho tổng
    UPDATE ProductInventories
    SET OnHand = (
        SELECT ISNULL(SUM(OnHand), 0)
        FROM ProductInventoryLots
        WHERE WarehouseId = @FromWarehouseId
          AND ProductId   = @ProductId
    ),
    LastUpdated = SYSDATETIME()
    WHERE WarehouseId = @FromWarehouseId
      AND ProductId   = @ProductId;

    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO ProductInventories
        (ProductId, BranchId, WarehouseId, OnHand, Reserved, LastUpdated)
        VALUES
        (@ProductId, NULL, @FromWarehouseId,
         (SELECT ISNULL(SUM(OnHand), 0)
          FROM ProductInventoryLots
          WHERE WarehouseId = @FromWarehouseId
            AND ProductId   = @ProductId),
         0, SYSDATETIME());
    END

    -- 4) Cập nhật tổng tồn kho tại chi nhánh
    UPDATE ProductInventories
    SET OnHand = (
        SELECT ISNULL(SUM(OnHand), 0)
        FROM ProductInventoryLots
        WHERE BranchId = @ToBranchId
          AND ProductId = @ProductId
    ),
    LastUpdated = SYSDATETIME()
    WHERE BranchId = @ToBranchId
      AND ProductId = @ProductId;

    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO ProductInventories
        (ProductId, BranchId, WarehouseId, OnHand, Reserved, LastUpdated)
        VALUES
        (@ProductId, @ToBranchId, NULL,
         (SELECT ISNULL(SUM(OnHand), 0)
          FROM ProductInventoryLots
          WHERE BranchId = @ToBranchId
            AND ProductId = @ProductId),
         0, SYSDATETIME());
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ConfirmMomoPayment]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ConfirmMomoPayment]
    @TransactionCode NVARCHAR(100),
    @Amount DECIMAL(18,2),
    @TransId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InvoiceId INT;

    -- 1️⃣ Kiểm tra Payment tồn tại
    SELECT @InvoiceId = InvoiceId
    FROM Payments
    WHERE TransactionCode = @TransactionCode
      AND Amount = @Amount
      AND Method = 'MOMO';

    IF @InvoiceId IS NULL
    BEGIN
        RAISERROR('Không tìm thấy Payment tương ứng.', 16, 1);
        RETURN;
    END

    -- 2️⃣ Cập nhật Payment → SUCCESS
    UPDATE Payments
    SET Status = 'SUCCESS',
        ConfirmedDate = SYSDATETIME(),
        RawResponse = CONCAT('TransId=', @TransId)
    WHERE TransactionCode = @TransactionCode;

    -- 3️⃣ Cập nhật Invoice → SUCCESS
    UPDATE Invoices
    SET StatusId = 7,  -- SUCCESS
        ModifiedDate = SYSDATETIME()
    WHERE InvoiceId = @InvoiceId;

    -- 4️⃣ Trả kết quả cho backend
    SELECT @InvoiceId AS InvoiceId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBatch]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBatch]
(
     @SupplierId INT,
     @WarehouseId INT,
     @CreatedBy INT,
     @BatchId INT OUTPUT,
     @LotCode NVARCHAR(50) OUTPUT
)
AS
BEGIN
     SET NOCOUNT ON;

     -----------------------------------------------------
     -- 1. Lấy LotCode từ sp_GenerateBatchLotCode
     -----------------------------------------------------
     DECLARE @Tmp TABLE(LotCode NVARCHAR(50));
     INSERT INTO @Tmp EXEC sp_GenerateBatchLotCode;

     SELECT @LotCode = LotCode FROM @Tmp;

     -----------------------------------------------------
     -- 2. Insert Batch
     -----------------------------------------------------
     INSERT INTO Batches (SupplierId, WarehouseId, LotCode, CreatedBy, CreatedDate)
     VALUES (@SupplierId, @WarehouseId, @LotCode, @CreatedBy, SYSDATETIME());

     SET @BatchId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCashPayment]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateCashPayment]
    @InvoiceId INT,
    @Amount DECIMAL(18, 2),
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @InvoiceId IS NULL
    BEGIN
        RAISERROR('InvoiceId không được để trống.', 16, 1);
        RETURN;
    END

    IF @Amount <= 0
    BEGIN
        RAISERROR('Số tiền thanh toán phải lớn hơn 0.', 16, 1);
        RETURN;
    END

    INSERT INTO Payments (InvoiceId, Amount, Method, Status, CreatedBy, CreatedDate, ConfirmedDate)
    VALUES (@InvoiceId, @Amount, N'CASH', N'SUCCESS', @CreatedBy, SYSUTCDATETIME(), SYSUTCDATETIME());

    SELECT SCOPE_IDENTITY() AS PaymentId, 'SUCCESS' AS Status;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateInvoiceWithDetails]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateInvoiceWithDetails]
    @Code NVARCHAR(50),
    @BranchId INT,
    @CustomerId INT = NULL,
    @Total DECIMAL(18,2),
    @TotalPayment DECIMAL(18,2),
    @Discount DECIMAL(18,2) = NULL,
    @DiscountRatio DECIMAL(5,2) = NULL,
    @Description NVARCHAR(500) = NULL,
    @PaymentMethod NVARCHAR(50),
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StatusId INT;

    -- Chọn StatusId theo phương thức thanh toán
    IF UPPER(@PaymentMethod) = 'CASH'
        SET @StatusId = 7;  -- SUCCESS
    ELSE
        SET @StatusId = 6;  -- PROCESSING

    -- Tạo hóa đơn
    INSERT INTO Invoices
        (Code, PurchaseDate, BranchId, CustomerId, Total, TotalPayment, Discount,
         DiscountRatio, Description, UsingCOD, StatusId, CreatedDate, CreatedBy)
    VALUES
        (@Code, SYSDATETIME(), @BranchId, @CustomerId, @Total, @TotalPayment,
         @Discount, @DiscountRatio, @Description, 0, @StatusId, SYSDATETIME(), @CreatedBy);

    DECLARE @InvoiceId INT = SCOPE_IDENTITY();

    -- Trả về hóa đơn vừa tạo
    SELECT @InvoiceId AS InvoiceId, @StatusId AS StatusId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateMomoPayment]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateMomoPayment]
    @InvoiceId INT,
    @Amount DECIMAL(18,2),
    @TransactionCode NVARCHAR(100),
    @CreatedBy INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Payments (InvoiceId, Amount, Method, TransactionCode, Status, CreatedDate, CreatedBy)
    VALUES (@InvoiceId, @Amount, 'MOMO', @TransactionCode, 'PROCESSING', SYSDATETIME(), @CreatedBy);

    DECLARE @PaymentId INT = SCOPE_IDENTITY();

    SELECT @PaymentId AS PaymentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreatePayment]
    @OrderId INT = NULL,
    @InvoiceId INT = NULL,
    @Amount DECIMAL(18,2),
    @Method NVARCHAR(50),
    @TransactionCode NVARCHAR(100) = NULL,
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[Payments] (
        OrderId, InvoiceId, Amount, Method, TransactionCode, Status, CreatedBy
    )
    VALUES (
        @OrderId, @InvoiceId, @Amount, @Method, @TransactionCode, 'PENDING', @CreatedBy
    );

    SELECT SCOPE_IDENTITY() AS PaymentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePurchaseOrder]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePurchaseOrder]
(
    @SupplierId INT,
    @WarehouseId INT,
    @ExpectedDeliveryDate DATETIME2 = NULL,
    @DeliveryDate DATETIME2 = NULL,
    @Description NVARCHAR(500) = NULL,
    @Total DECIMAL(18,2),
    @TotalPayment DECIMAL(18,2),
    @Discount DECIMAL(18,2) = NULL,
    @DiscountRatio DECIMAL(5,2) = NULL,
    @PurchaseOrderId INT OUTPUT,
    @Code NVARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    EXEC sp_GeneratePurchaseOrderCode @Code OUTPUT;

    INSERT INTO PurchaseOrders
    (
        Code, PurchaseDate, WarehouseId, SupplierId,
        ExpectedDeliveryDate, DeliveryDate,
        Description, Total, TotalPayment, Discount, DiscountRatio,
        StatusId, CreatedDate
    )
    VALUES
    (
        @Code, SYSDATETIME(), @WarehouseId, @SupplierId,
        @ExpectedDeliveryDate, @DeliveryDate,
        @Description, @Total, @TotalPayment, @Discount, @DiscountRatio,
        1, SYSDATETIME()
    );

    SET @PurchaseOrderId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReplenishmentRequest]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateReplenishmentRequest]
(
    @BranchId INT,
    @Description NVARCHAR(500) = NULL,
    @CreatedBy INT,
    @RequestId INT OUTPUT,
    @RequestCode NVARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    EXEC sp_GenerateReplenishCode @RequestCode OUTPUT;

    INSERT INTO ReplenishmentRequests
    (
        RequestCode, BranchId, Description,
        StatusId, CreatedBy, RequestDate
    )
    VALUES
    (
        @RequestCode, @BranchId, @Description,
        1, @CreatedBy, SYSDATETIME()
    );

    SET @RequestId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateStockTransfer]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateStockTransfer]
(
    @FromWarehouseId INT,
    @ToBranchId INT,
    @Description NVARCHAR(500) = NULL,
    @CreatedBy INT = NULL,
    @TransferId INT OUTPUT,
    @TransferCode NVARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    EXEC sp_GenerateStockTransferCode @TransferCode OUTPUT;

    INSERT INTO StockTransfers
    (
        TransferCode, FromWarehouseId, ToBranchId,
        TransferDate, Description, StatusId, CreatedBy, CreatedDate
    )
    VALUES
    (
        @TransferCode, @FromWarehouseId, @ToBranchId,
        SYSDATETIME(), @Description, 1, @CreatedBy, SYSDATETIME()
    );

    SET @TransferId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeductInventoryForSale]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeductInventoryForSale]
    @BranchId INT,
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Quantity <= 0)
    BEGIN
        RAISERROR('Số lượng phải lớn hơn 0.', 16, 1);
        RETURN;
    END

    DECLARE @Remaining INT = @Quantity;
    DECLARE @LotId INT;
    DECLARE @LotQty INT;

    WHILE (@Remaining > 0)
    BEGIN
        -- Lấy lô cũ nhất theo FIFO
        SELECT TOP 1
              @LotId = ProductInventoryLotId,
              @LotQty = OnHand
        FROM ProductInventoryLots
        WHERE BranchId = @BranchId
          AND ProductId = @ProductId
          AND OnHand > 0
        ORDER BY ExpiredDate ASC, ProductInventoryLotId ASC;

        IF (@LotId IS NULL)
        BEGIN
            RAISERROR('Không đủ tồn kho theo lô (FIFO).', 16, 1);
            RETURN;
        END

        -- Nếu lô hiện tại đủ hàng
        IF (@LotQty >= @Remaining)
        BEGIN
            UPDATE ProductInventoryLots
            SET OnHand = OnHand - @Remaining
            WHERE ProductInventoryLotId = @LotId;

            SET @Remaining = 0;
        END
        ELSE
        BEGIN
            -- Lô không đủ, trừ hết lô, chuyển sang lô tiếp theo
            UPDATE ProductInventoryLots
            SET OnHand = 0
            WHERE ProductInventoryLotId = @LotId;

            SET @Remaining = @Remaining - @LotQty;
        END
    END

    -- Cập nhật tổng tồn kho
    UPDATE ProductInventories
    SET OnHand = (
        SELECT ISNULL(SUM(OnHand), 0)
        FROM ProductInventoryLots
        WHERE BranchId = @BranchId
          AND ProductId = @ProductId
    ),
    LastUpdated = SYSDATETIME()
    WHERE BranchId = @BranchId
      AND ProductId = @ProductId;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateBatchLotCode]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GenerateBatchLotCode]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @Today DATE = CAST(SYSDATETIME() AS DATE),
        @YearDigit CHAR(1),
        @MonthChar CHAR(1),
        @DayNum CHAR(2),
        @Prefix NVARCHAR(10),
        @CountToday INT,
        @LotCode NVARCHAR(20);

    -- Lấy số cuối của năm
    SET @YearDigit = RIGHT(YEAR(@Today), 1);

    -- Chuyển tháng sang ký tự A-L
    SET @MonthChar = CHAR(ASCII('A') + MONTH(@Today) - 1);

    SET @DayNum = RIGHT('0' + CAST(DAY(@Today) AS VARCHAR(2)), 2);

    SET @Prefix = @YearDigit + @MonthChar + @DayNum;

    -- Đếm số lô đã có trong ngày
    SELECT @CountToday = COUNT(*)
    FROM Batches
    WHERE LotCode LIKE @Prefix + '%';

    IF @CountToday = 0
        SET @LotCode = @Prefix;
    ELSE
        SET @LotCode = @Prefix + '.' + CAST(@CountToday + 1 AS NVARCHAR(5));

    SELECT @LotCode AS LotCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GeneratePurchaseOrderCode]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GeneratePurchaseOrderCode]
    @Code NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME2 = SYSDATETIME();

    SET @Code = 'NK' +
                RIGHT(YEAR(@Now),1) +
                RIGHT('0' + CAST(MONTH(@Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DAY(@Now) AS VARCHAR(2)),2) +
                '-' +
                RIGHT('0' + CAST(DATEPART(HOUR, @Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DATEPART(MINUTE,@Now) AS VARCHAR(2)),2);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateReplenishCode]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GenerateReplenishCode]
    @Code NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME2 = SYSDATETIME();

    SET @Code = 'RR' +
                RIGHT(YEAR(@Now), 2) +
                RIGHT('0' + CAST(MONTH(@Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DAY(@Now) AS VARCHAR(2)),2) +
                '-' +
                RIGHT('0' + CAST(DATEPART(HOUR,@Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DATEPART(MINUTE,@Now) AS VARCHAR(2)),2);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateStockTransferCode]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GenerateStockTransferCode]
    @Code NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME2 = SYSDATETIME();

    -- Ví dụ: CK51215-2230 (Chuyển kho - năm, tháng, ngày, giờ, phút)
    SET @Code = 'CK' +
                RIGHT(YEAR(@Now),1) +
                RIGHT('0' + CAST(MONTH(@Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DAY(@Now) AS VARCHAR(2)),2) +
                '-' +
                RIGHT('0' + CAST(DATEPART(HOUR, @Now) AS VARCHAR(2)),2) +
                RIGHT('0' + CAST(DATEPART(MINUTE,@Now) AS VARCHAR(2)),2);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderForPrint]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPurchaseOrderForPrint]
    @PurchaseOrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- 1. Lấy thông tin header phiếu nhập
    ----------------------------------------------------
    SELECT 
        po.PurchaseOrderId,
        po.Code AS PurchaseOrderCode,
        po.PurchaseDate,
        po.ExpectedDeliveryDate,
        po.DeliveryDate,
        po.Description,
        po.Total,
        po.TotalPayment,
        po.Discount,
        po.DiscountRatio,
        s.SupplierId,
        s.Name AS SupplierName,
        s.Address AS SupplierAddress,
        s.ContactNumber AS SupplierPhone,
        w.WarehouseId,
        w.Name AS WarehouseName,
        w.Address AS WarehouseAddress
    FROM PurchaseOrders po
    JOIN Suppliers s ON s.SupplierId = po.SupplierId
    JOIN Warehouses w ON w.WarehouseId = po.WarehouseId
    WHERE po.PurchaseOrderId = @PurchaseOrderId;

    ----------------------------------------------------
    -- 2. Lấy chi tiết sản phẩm
    ----------------------------------------------------
    SELECT 
        d.PurchaseOrderDetailId,
        d.ProductId,
        p.Name AS ProductName,
        p.Description AS ProductDescription,
        d.UnitPrice,
        d.Quantity,
        (d.UnitPrice * d.Quantity) AS TotalAmount,
        d.ExpiredDate
    FROM PurchaseOrderDetails d
    JOIN Products p ON p.ProductId = d.ProductId
    WHERE d.PurchaseOrderId = @PurchaseOrderId;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPurchaseOrder]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessPurchaseOrder]
(
    @SupplierId INT,
    @CreatedBy INT,
    @ExpectedDeliveryDate DATETIME2 = NULL,
    @DeliveryDate DATETIME2 = NULL,
    @Description NVARCHAR(500) = NULL,
    @Total DECIMAL(18,2),
    @TotalPayment DECIMAL(18,2),
    @Discount DECIMAL(18,2) = NULL,
    @DiscountRatio DECIMAL(5,2) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE 
        @BatchId INT,
        @LotCode NVARCHAR(50),
        @PurchaseOrderId INT,
        @PoCode NVARCHAR(50),
        @WarehouseId INT = 1;

    BEGIN TRANSACTION;

    --------------------------------------------------
    -- 1. Create Batch (đã viết dạng OUTPUT)
    --------------------------------------------------
    EXEC sp_CreateBatch 
        @SupplierId = @SupplierId,
        @WarehouseId = @WarehouseId,
        @CreatedBy = @CreatedBy,
        @BatchId = @BatchId OUTPUT,
        @LotCode = @LotCode OUTPUT;

    --------------------------------------------------
    -- 2. Create Purchase Order
    --------------------------------------------------
    EXEC sp_CreatePurchaseOrder
        @SupplierId = @SupplierId,
        @WarehouseId = @WarehouseId,
        @ExpectedDeliveryDate = @ExpectedDeliveryDate,
        @DeliveryDate = @DeliveryDate,
        @Description = @Description,
        @Total = @Total,
        @TotalPayment = @TotalPayment,
        @Discount = @Discount,
        @DiscountRatio = @DiscountRatio,
        @PurchaseOrderId = @PurchaseOrderId OUTPUT,
        @Code = @PoCode OUTPUT;

    COMMIT TRANSACTION;

    --------------------------------------------------
    -- Return
    --------------------------------------------------
    SELECT
        @PurchaseOrderId AS PurchaseOrderId,
        @PoCode AS PurchaseOrderCode,
        @BatchId AS BatchId,
        @LotCode AS LotCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInventoryAfterPurchase]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateInventoryAfterPurchase]
    @WarehouseId INT,
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM ProductInventories 
        WHERE WarehouseId = @WarehouseId AND ProductId = @ProductId
    )
    BEGIN
        UPDATE ProductInventories
        SET OnHand = OnHand + @Quantity,
            LastUpdated = SYSDATETIME()
        WHERE WarehouseId = @WarehouseId
          AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO ProductInventories
        (ProductId, WarehouseId, OnHand, Reserved, LastUpdated)
        VALUES (@ProductId, @WarehouseId, @Quantity, 0, SYSDATETIME());
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertCustomer]    Script Date: 11/17/2025 3:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpsertCustomer]
    @CustomerId INT = NULL,
    @Name NVARCHAR(200),
    @ContactNumber NVARCHAR(50),
    @BranchId INT = NULL,
    @Email NVARCHAR(200) = NULL,
    @Address NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @CustomerId IS NULL
    BEGIN
        INSERT INTO Customers
            (Name, ContactNumber, BranchId, Email, Address, IsActive, CreatedDate)
        VALUES
            (@Name, @ContactNumber, @BranchId, @Email, @Address, 1, SYSDATETIME());

        SELECT SCOPE_IDENTITY() AS CustomerId, 'INSERT' AS Action;
    END
    ELSE
    BEGIN
        UPDATE Customers
        SET
            Name = @Name,
            ContactNumber = @ContactNumber,
            BranchId = @BranchId,
            Email = @Email,
            Address = @Address,
            ModifiedDate = SYSDATETIME()
        WHERE CustomerId = @CustomerId;

        SELECT @CustomerId AS CustomerId, 'UPDATE' AS Action;
    END
END;
GO
